<h2>Your invoices</h2>
<%= link_to 'Create new invoice', new_invoice_path %>
<% @invoices.each do |invoice| %>
  <ul id="invoice_<%= invoice.invoice_number %>">
    Invoice number: <%= invoice.invoice_number %>
    Invoice date: <%= invoice.date %>
    Invoice due date: <%= invoice.due_date %>
    <%= link_to 'Edit invoice' %>
  </ul>
<% end %>

<h2>Your customers</h2>
<%= link_to 'Add new customer', new_customer_path %>
<% @customers.each do |customer| %>
  <ul>
    Company name: <%= customer.name %>
    Organisation number: <%= customer.organisation_number %>
    Address: <%= customer.address %>
    Postcode: <%= customer.postcode %>
    City: <%= customer.city %>
  </ul>
<% end %>